In [4]:
import numpy as np
import pandas as pd

In [3]:
!gdown  1l53Fgkg1G1ekCxxgaDQ00EXrnSMTeJj-

Downloading...
From: https://drive.google.com/uc?id=1l53Fgkg1G1ekCxxgaDQ00EXrnSMTeJj-
To: /content/sample_data.csv
100% 32.5k/32.5k [00:00<00:00, 39.5MB/s]

In [5]:
sample_data = pd.read_csv('sample_data.csv')

In [6]:
sample_data.head()

   Gender  Age_less_35                    JobRole  Attrition
0    Male         True      Laboratory Technician          0
1    Male        False            Sales Executive          1
2    Male         True       Sales Representative          1
3  Female        False  Healthcare Representative          0
4    Male         True            Sales Executive          0

In [2]:
def entropy(Y):
  p = Y.value_counts()/len(Y)

  en= np.sum(-p*np.log2(p + 1e-9))

  return en

In [7]:
entropy(sample_data['Attrition'])

0.6554120789588516

In [8]:
sample_data['Attrition'].value_counts()

0    831
1    169
Name: Attrition, dtype: int64

In [9]:
def calculate_weighted_entropy(feature, Y):
  categories = feature.unique()

  weighted_en = 0.0

  for category in categories:
    
    Y_category = Y[feature == category]
    
    weight  = len(Y_category)/ len(Y)

    en_category = entropy(Y_category)

    weighted_en += (weight*en_category)

  return weighted_en

In [11]:
def information_gain(feature, Y):
  parent_ent = entropy(Y)
  child_ent = calculate_weighted_entropy(feature, Y)

  return (parent_ent - child_ent)

In [13]:
calculate_weighted_entropy(sample_data['Age_less_35'], sample_data['Attrition'])

0.6339490140391142

In [14]:
information_gain(sample_data['Age_less_35'], sample_data['Attrition'])

0.021463064919737374

In [15]:
information_gain(sample_data['Gender'], sample_data['Attrition'])

3.2976904443815513e-06

In [17]:
information_gain(sample_data['JobRole'], sample_data['Attrition'])

0.05429906805101914